@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&family=Work+Sans:wght@400;500;700;800;900&display=swap');

*{
  font-family: 'Lato', sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.header__burger{
  display: none;
}
header{
  background-color: #1F98F0;
  color: #fff;
  margin-bottom: 60px;
}
.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 122px;
  width: 50%;
}
.header-logo a{
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.header-nav ul{
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 16px;
  display: flex;
}
.header-nav ul li:not(:last-child){
  margin-right: 50px;
}
.header-nav ul li{
  line-height: 150%;
  cursor: pointer;
}
.btn-download{
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 52px;
  font-size: 18px;
  color: #03101A;
  border-radius: 10px;
  vertical-align: middle;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease;
}
.left-right{
  display: flex;
  justify-content: center;
}
.header__left h1{
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 51px;
  margin-bottom: 30px;
}
.header__right{
  background: url("../img/fonTel.png") 0 0/contain no-repeat;
  background-position: 50% 50%;
  width: 50%;
}
.header__left{
  padding: 140px 0 260px 0;
  width: 50%;
}
.header__left-text{
  font-size: 20px;
  margin-bottom: 50px;
}

.header__left-btn{
  display: flex;
  width: 50%;
}
.header__left-btn img{
  width: 60%;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.header__left-btn img:hover{
  transform: scale(1.1);
  transition: all 0.4s ease;
}
main span{
  display: block;
  font-weight: 500;
  padding-bottom: 45px;
}
.main__logos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 130px;
}
.main__logos img{
  width: 15%;
}
.main__left-right{
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.main-left{
  background: url("../img/telMain.png") 0 0/contain no-repeat;
  background-position: 50% 50%;
  width: 25%;
}
.main-right{
  width: 45%;
  padding-right: 90px;
}
.main-right h2{
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 84px;
}
.section img{
  margin-right: 30px;
  width: 92px;
  height: 92px;
}
.section{
  display: flex;
  align-items: center;
  color: #03101A;

}
.features__text h3{
  font-weight: 700;
  font-size: 21px;
}
.features__text span{
  font-weight: normal;
  font-size: 16px;
}

.sectionTest h2{
  font-weight: 700;
  font-size: 38px;
  color: #03101A;
  text-align: center;
  margin-bottom: 80px;
}
.sectionTest-flex{
  display: flex;
  justify-content: space-around;
}
.cart__name{
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 20px;
}
.cart__text{
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.sectionTest__cart img{
  width: 73px;
  height: 73px;
  margin-bottom: 20px;
}
.sectionTest__cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin-bottom: 80px;
}
.food{
  background-color: #1F98F0;
  height: 265px;
}
.section-download{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-download-btn{
color: #1F98F0;
}
.section-download h2{
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}
.food{
  margin-bottom: 120px;
}
.update h2{
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  color: #03101A;
  margin-bottom: 60px;
}
.update__cart-flex{
  display: flex;
  justify-content: space-between;
}
.update__cart{
  width: 32%;
}
.update__cart img{
  width: 100%;
}
.update__cart h3{
  font-weight: 600;
  font-size: 28px;
  color: #03101A;
}
.update__cart-text{
  font-size: 16px;
  line-height: 150%;
  color: #6D7073;
  opacity: 0.7;
  padding: 0 32px 30px 0;
}
.more{
  width: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #1F98F0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.more:hover{
  border-bottom: 2px solid #ffffff;
  border-image: linear-gradient(to right,#ffffff 5%, #1F98F0 50%, #ffffff 95%);
  width: 90px;
  border-image-slice: 1; 
}
.update{
  margin-bottom: 128px;
}
footer{
  background-color: #03101A;
}
.foot{
  padding: 100px 15px 100px 15px;
  display: flex;
  justify-content: space-between;
}
.foot__cart h3{
  margin: 0 0 35px 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}
#foot-header{
  font-size: 31px;
}
.foot__cart-text{
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}
.cart-hungry{
  width: 28%;
}
.foot__cart ul li{
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}
.foot__cart ul li:not(:last-child){
  margin-bottom: 15px;
}
input{
  background-color: #FFFFFF;
  padding: 10px 40px 10px 10px;
  border: none;
  margin-bottom: 35px;
}
input:active, :hover, :focus {
    outline: 0;
}

.btn{
  padding: 10px 35px;
  color: #ffffff;
  background-color: #1F98F0;
  border: none;
  margin-left: -3px;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.75);
  transition: all 0.4s ease;
}
.foot__cart .h3-mb{
  margin-bottom: 40px;
}
.header-nav ul li:hover{
  border-bottom: 2px solid #ffffff;
  border-image: linear-gradient(to right,#1F98F0 5%, #FFFFFF 50%, #1F98F0 95%);
  border-image-slice: 1; 
}
.header-nav ul li{
  border-bottom: 2px solid transparent;
}
.btn-download:hover{
  box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.75);
  transition: all 0.4s ease;
}

@media (max-width: 1024px){
  .header__logo-nav {
    width: 65%;
  }
  .foot__cart ul li {
    font-size: 12px;
  }
  .foot__cart-text {
    font-size: 12px;
  }
  input {
    padding: 10px 10px 10px 10px;
    margin-bottom: 28px;
    font-size: 12px;
  }
  .btn{
  font-size: 12px;
  }
}

@media (max-width: 770px){
  /* BURGER MENU */
  .header__burger.active::before{
    transform: rotate(45deg);
    top: 13px;
  }
  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 13px;
  }
  .header__burger.active span{
    transform: scale(0);
  }


  .header__burger{
    position: relative;
    top: 2px;
    z-index: 3;
    display: block;
    width: 50px;
    height: 30px;
  }

  .header__burger.active{
    overflow: hidden;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before{
    top: 0;
    
  }
  .header__burger:after{
    bottom: 0;
    
  }
  .header__burger span{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    top: calc(50% - 2px);
    transition: all 0.3s ease 0s;
  }
  .menu__burger{
    position: fixed;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(128, 128, 128, 0.9);
    padding-top: 90px;
    transition: all 0.3s ease 0s;
  }
.menu__burger.active{
  left: -50%;
  }
  .menu__burger ul{
    display: flex;
    flex-direction: column;
  }
  .menu__burger ul a{
    margin-bottom: 50px;
  }
  /* BURGER MENU */
  .menu__burger ul {
    align-items: flex-start;
    margin-left: 57%;
    font-size: 22px;
  }
  .menu__burger ul li{
    margin-bottom: 10px;
  }
  .header__left {
    padding: 60px 0 130px 0;
  }
  .cart-hungry {
    width: 20%;
  }
  .main__logos {
    margin-bottom: 85px;
  }
  .main-left {
    margin-left: 5%;
    margin-top: 115px;
  } 
  .main-right h2 {
    margin-bottom: 60px;
  }
  .main__left-right {
    margin-bottom: 80px;
  }
  .header__logo-nav {
    width: 50%;
  }
}

@media (max-width: 695px) {
  .main-right {
    padding-right: 0px;
  }
  .foot {
    flex-direction: column;
    padding: 100px 30px 100px 30px;
  } 
  .cart-hungry {
    width: 100%;
  }
  .foot__cart h3 {
    text-align: center;
  }
  .foot__cart{
    margin-bottom: 50px;
  }
  .foot__cart-text {
    font-size: 18px;
  }
  .foot__cart ul li {
    font-size: 18px;
  }
  input {
    padding: 15px 10px 15px 10px;
    font-size: 18px;
    width: 96%;
  }
  .btn {
    padding: 15px 35px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 50px;
  }
  .section-download h2 {
    font-size: 34px;
  }
  .header__left h1 {
    font-size: 42px;
  }
  .header__left-btn img {
    width: 85%;
  }
  .main__left-right {
    flex-direction: column;
  }
  .main-right {
    width: 100%;
  }
  .container {
    padding: 0 25px;
  }
  .main-left{
    display: none;
  }
  .main-right h2 {
    text-align: center;
  }
  .sectionTest__cart {
    width: 30%;
  }
  .section-download {
    padding-top: 80px;
  }
  .foot {
    padding: 100px 30px 100px 30px;
  }
}
@media (max-width: 540px){
  .header__logo-nav {
    width: 35%;
  }
  .btn-download {
    height: 45px;
  }
  .header__left h1 {
    font-size: 34px;
  }
  .header__left {
    padding: 20px 0 55px 0;
  }
  .main__logos {
    margin-bottom: 65px;
  }
  .section-download h2 {
    font-size: 28px;
  }
  .food {
    margin-bottom: 85px;
    height: 180px;
  }
  .section-download {
    padding-top: 40px;
  }
  .update__cart-flex {
    flex-direction: column;
  }
  .update__cart {
    width: 100%;
  }
  .update__cart-text {
    padding: 0 32px 10px 0;
  }
  .more {
    margin-bottom: 50px;
  }
  .update__cart h3 {
    margin-top: 10px;
  }
  .update {
    margin-bottom: 20px;
  }
  .foot {
    padding: 60px 30px 0px 30px;
  }
  input {
    width: 95%;
  }
}

@media (max-width: 500px){
  .header__right{
    display: none;
  }
  .header__left {
    width: 100%;
  }
  .header__left-btn {
    width: 57%;
  }
  .section-download {
    flex-direction: column;
  }
  .main__logos img {
    width: 40%;
    margin-bottom: 40px;
  }
  .main__logos {
    margin-bottom: 35px;
  } 
  .section-download {
    padding-top: 5px;
  }
  .btn-download {
    height: 40px;
  }
  .btn-download {
    font-size: 16px;
  }
  .sectionTest-flex {
    flex-direction: column;
  }
  .sectionTest__cart {
    width: 100%;
  }
  
}


@media (max-width: 460px){
  .header__logo-nav {
    height: 100px;
  }
}
@media (max-width: 425px){
.btn-download {
    font-size: 14px;
    height: 36px;
  }
  .header__left h1 {
    font-size: 32px;
  }
  .header__left-text {
    font-size: 16px;
  }
  .header__left-btn img {
    width: 80%;
  }
  .main-right h2,
  .sectionTest h2,
  .update h2 {
    font-size: 32px;
  }
  .update__cart h3 {
    font-size: 26px;
  }
  .container {
    padding: 0 10px;
  }
  .foot {
    padding: 50px 10px 0px 10px;
  }
}

@media (max-width: 375px){
.btn-download {
    padding: 0 16px;
  }
  .main-right h2 {
    margin-bottom: 25px;
  } 
  input {
    width: 94%;
  } 
}
